body {
    overflow: auto;
    margin: 0;
    padding: 0;
}
.game {
    width: 100%;
    height: 100%;
    margin-bottom: 2em;
}
h1{
    padding: 0em;
    margin: 0em;
    font-size: 5em;
    text-align: center;
}

.jack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em; /* Adjust the spacing below the button */
}

.popover {
    display: none;
    position: absolute;
    background-color: #fff;
    padding-left: 1em;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 50em;
    z-index: 1000;
}

.popover.visible {
    display: block;
}

/* Add this CSS for player selection styling */
.player-selection {
    text-align: center;
    margin-bottom: 1em;
}

.player-selection label {
    font-size: 1.5em;
}

.player-selection select {
    font-size: 1.2em;
    margin: 0 0.5em;
}

.player-selection button {
    font-size: 1.2em;
    padding: 0.5em 1em;
}

/* Board style */
.board {
    display: flex;
    justify-content: center;
    margin-top: 2em;
    width: 100%;
}
table {
    width: 90%;
    max-width: 60em;
    height: auto;
    border-collapse: collapse;
}
td {
    position: relative;
    width: 10%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    background-color: lightgray;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

td:hover {
    transform: scale(1.1); /* Slightly enlarge the cell */
    /*background-color: lightblue; /* Change background color on hover */
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: transform 0.3s ease;
}

td:hover img {
    /* transform: rotate(10deg); /* Rotate the card slightly on hover */
}

.circle {
    width: 40%;
    max-width: 40px;
    height: 40%;
    max-height: 40px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* Ensures the circle doesn't interfere with clicks */
}
